<!DOCTYPE html>
<html>
    <head>
        <title>RML</title>
        <link rel="stylesheet" href="../css/materialize.min.css">
        <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
        <link href="../css/materialize-icons.css" rel="stylesheet">
        
        <script src="../js/jquery-1.11.2.min.js"></script>
        <script src="../js/materialize.min.js"></script>
        <script src="../js/mustache.min.js"></script>
        <script src="../js/WidgetHub.js"></script>
        <!--<script src="js/WidgetHub.js" type="text/javascript"></script>-->
        <script src="../js/rdflib.js"></script>
        <script src="../js/n3-browser.js" type="text/javascript"></script>
        <script src="../js/jsonld.js" type="text/javascript"></script>
        <script src="../js/turtle-to-jsonld.js" type="text/javascript"></script>
    </head>
    <body>
        <div class="params row" id="vars"></div>
        <div class="row">
            <div class="col s12">
                <button onclick="run()" class="btn btn-small">Run</button>
                <pre id='preview'></pre>
            </div>
        </div>
        
    </body>
    <script type="text/javascript">

        var config = {
            size: {width: 200, height: 80}, // the width, height of your widget (in pixels)
            terminals: [ // define the position of your terminals
                {"name": "output", "position" : {"left": 1, "top": 1/2}, "type": "output"}
            ],
            resizable: false // decide whether your widget is resizable or not
        };

        function getJsonFromUrl() {
          var query = location.search.substr(1);
          var result = {};
          query.split("&").forEach(function(part) {
            var item = part.split("=");
            result[item[0]] = decodeURIComponent(item[1]);
          });
          return result;
        }
		
		function getParameterByName(name) {
			name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
			var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
				results = regex.exec(location.search);
			return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
		}

        function parseUrl(url)
        {
            var parser = document.createElement('a');
            parser.href = url;
            return {protocol:parser.protocol, domain:parser.hostname, port:parser.port, path:parser.pathname, hash:parser.hash, server:parser.host, param:parser.search}
        }

        function has_template(url)
        {
            var lp = url.indexOf('{'), rp = url.indexOf('}')

            return (lp != -1 && rp != -1 && lp < rp)
        }

        function extract_parameters(urltemplate)
        {
            if(has_template(urltemplate))
            {
                var params = []
                var parts = urltemplate.split('{')
                parts.shift()
                for(p in parts)
                {
                    var pp = parts[p].split('}')
                    parts[p] = pp[0]
                }
                return parts
            }
            else
                return []
        }
        var hub;
        var myloc = parseUrl(window.location.href)
        
        var rml_id = getParameterByName('src')
        loadRML('/rmlx/rml-source/'+rml_id)

        function add_var(pname)
        {
            var vartpl = '<div class="col s10 input-field"><input type="text" name="{{pname}}" id="{{pname}}" /><label for="{{pname}}" class="active">{{pname}}</label></div>';
            var div=document.createElement('div')
            $(div).html(Mustache.render(vartpl, {pname:pname}))
            $("#vars").append(div)
            return div
        }

        function remove_var(e)
        {
            $(e.parentElement.parentElement).remove()
        }

        function loadRML(docURI)
        {
            var qparam = getJsonFromUrl();
            var RMLX = $rdf.Namespace('http://pebbie.org/ns/rmlx#')
            docUrl = parseUrl(docURI)
            //console.log(docUrl)
            if(docUrl.domain != myloc.domain)
                docURI = myloc.protocol+"//"+myloc.server+"/rmlx/rml-proxy?url="+docURI;
            else
                docURI = docUrl.protocol+"//"+docUrl.server+docUrl.path
            //console.log(docURI)
            var kb = $rdf.graph()
            fetch = $rdf.fetcher(kb)
            fetch.nowOrWhenFetched(docURI,docURI,function(ok, body, xhr){
                //console.log(ok, body)
                //console.log(kb.serialize('', 'text/turtle'))
                tmp = kb.each(undefined, RMLX('sourceTemplate'))
                //console.log(tmp.length)
                for(var m=0; m<tmp.length; ++m)
                {
                    var map = tmp[m]
                    var map_src = kb.the(map, RMLX('sourceTemplate'))
                    if(map_src != undefined && has_template(map_src.value))
                    {
                        params = extract_parameters(map_src.value)
                        for(p in params)
                        {
                            add_var(params[p])
                            if(qparam[params[p]] != undefined)
                            {
                                $('#'+params[p]).val(qparam[params[p]])
                            }
                        }
                    }
                    console.log(map_src.value)
                }
                config.size.height = window.document.body.clientHeight
                hub.setConfig(config)
            })
        }

        hub = new WidgetHub(config, run);
        /*
        This function defines the job of your widget.
        */
        function run(data) {
            tmp = getJsonFromUrl();
            delete tmp.src;
            $('input').each(function(e, el){
                tmp[el.id] = $(el).val()
            })
			$.get('/rmlx/rml/'+getParameterByName('src'), tmp, function(data){
				var result = data
				compactFromTurtle (data, function (err, output) {
					if (err) {
						console.error ("ERROR: ", err);
						$('#preview').text(data)
					}
					else
					{
						result = JSON.stringify (output, null, "    ")
						$('#preview').text(result).trigger('autoresize');
					}
                    console.log(hub)
					hub.returnOutput(result)
				});	
			})
        }
        
        function sendRunmsg()
        {
            hub.sendRunRequest()
        }
    </script>
</html>